!!!
%html
  %head
    %title
      Snuffle
    %link{href: "http://cdn.datatables.net/1.10.0/css/jquery.dataTables.css", rel: "stylesheet"}

    %style{media: "screen", type: "text/css"}
      body { background: #49525a; color: #fff; font-family: arial, sans-serif; padding: 2em; }
      table { width: 100%; box-shadow: 0 5px 0 rgba(0,0,0,.8); border-spacing: 0; border: 5px solid #000; border-radius: 5px; border-collapse: collapse; min-width: 50%; }
      tr.header th:first-child { border-radius: 5px 0 0 0; }
      tr.header th:last-child { border-radius: 0 5px 0 0; }
      tr.header th:only-child { border-radius: 5px 5px 0 0; }
      tr.header { background-color: #222; }
      tr.even { background: rgba(128, 128, 128, 0.5) !important;}
      tr.odd { background: rgba(128, 128, 128, 0.25) !important}
      tr.even:hover, tr.odd:hover { background: rgba(128, 128, 128, 0.75) !important;}
      tr.faint td { opacity: 0.5; font-style: italic; }
      th { background: #000; text-align: left; padding: .5em; }
      td { text-align: left; padding: .5em; padding-left: 1.25em !important;}
      td.center { text-align: center; }
      tfoot { background: #000; border-top: 10px solid #000; font-family: courier; margin-top: 4em; font-size: .75em;  }
      a:link, a:visited { color: #fff }
      h1 { color:#fff; font-size: 1.25em; margin-top: .25em; }
      h2 { color:#fff; font-size: .75em; margin-top: -1em; }
      h3 { color:#fff; font-size: 1.1em;margin-top: 1em; }
      li { margin-bottom: 1em;}
      div.file_meta { padding: 1em; border-radius: 5px; background: #444; height: 3.5em; width: 98%; border: .5em solid #000;}
      div.file_listing { padding: .5em; border-radius: 5px; background: #222; width: 100%; border: 1px solid #000;}
      = ".summary {padding: 1em; border-radius: 5px; background: #4c5d62; width: 98%; border: .5em solid #000;}"
      = ".clear { clear: both; }"
      = ".indented {margin-left: 1em; }"

  %body

    .file_meta
      %h1
        Snuffle Analysis
      %h2
        = start_path

    %br.clear

    %table{class: "output-table"}

      %thead
        %tr
          %th
            File
          %th
            Host Module/Class
          %th
            Object Candidates
      %tbody
        - summaries.each_with_index do |summary, i|
          %tr{class: "#{i % 2 == 1 ? 'odd' : 'even'} #{summary.cohorts.count == 0 ? 'faint' : ''}"}
            %td
              - if summary.cohorts.count == 0
                = summary.path_to_file
              - else
                %a{href: "source/#{summary.class_filename}.htm"}
                  = summary.path_to_file
            %td
              - if summary.class_name.size > 30
                = "..."
                = summary.class_name[-29..-1]
              - else
                = summary.class_name
            %td
              = summary.cohorts.count

    %br.clear

    %div.file_listing.center
      %em
        Analyzed on
        = date
        at
        = time
        by
        %a{href: "https://gitlab.com/coraline/snuffle", target: "_new"}
          Snuffle
